#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# ROUTES
#--------------------------------------------------


# ROUTE des posts
# PATTERN: posts/id/slug.html (titre = Article 1) => (slug: article-1)
# URL: page3.php?id=x
# Un slug c'est la version du titre tt en minuscule et sans espace ou tout les caractères spéciaux sont remplacé par un tiret

RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*.html$ index.php?id=$1 [L]


# [a-z0-9] => on a d'abord une lettre en minuscule de a à z
# [a-z0-9\-] puis comme 2ème caractère on peut avoir une minuscule de a à z ou un chiffre de 0 à 9 ou un "-".
# * => 0 ou plusieurs (optionnel)



# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
