#ADMIN

#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# ROUTES
#--------------------------------------------------

#--------------------------------------------------
# ROUTES DES CATEGORIES
#--------------------------------------------------
    # PATTERN: categories
    # VERS: index.php?categories=index
    RewriteRule ^categories$ index.php?categories=index [L]


#--------------------------------------------------
# ROUTE DU USER
#--------------------------------------------------
	# DECONNEXION DU USER / LOGOUT
    # PATTERN/ user/logout
    # URL: index.php?user=logout
    RewriteRule ^user\/logout$ index.php?user=logout [L]

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
